.header {
  grid-area: header;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: $dark-grey;
  color: $white;

  .header-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .header-logo {
      width: 2rem;
      height: 2rem;
    }

    h2 {
      font-weight: 200;
    }
  }
}
