.header {
  grid-area: header;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  color: $white;
  border-bottom: 1px solid $grey;

  .header-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .header-logo {
      width: 2rem;
      height: 2rem;
    }

    h2 {
      font-weight: 200;
    }
  }
}
