@import "../base/_variables.scss";
@import "../base/_placeholders.scss";
@import "../base/_mixins.scss";

.message-container {
  padding: 1rem;
  border-radius: 5px;

  p {
    font-weight: 300;
  }
}

.message-success {
  background-color: mix($green, $white, 50%);
  border: 1px solid mix($green, $white, 30%);
  color: $green;
}
.message-fail {
  background-color: mix($red, $white, 30%);
  border: 1px solid mix($red, $white, 30%);
  color: $red;
}
