@import "base/_variables.scss";
@import "base/_placeholders.scss";
@import "base/_mixins.scss";

// GLOBAL
body {
  color: $default-font-color;
  background: $default-background;
  cursor: default;
}

@import "layout/_header.scss";
@import "layout/_sidebar-slide.scss";
@import "modules/_homepage.scss";
@import "modules/components/_index.scss";
