.gnome-cards-container {
  display: flex;
  flex-direction: column;

  .gnome-card {
    flex-grow: 1;
    display: flex;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      background-color: rgba($white, 0.07);
    }

    + .gnome-card {
      border-top: 1px solid $grey;
    }

    .gnome-card-img-container {
      flex: 0 0 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1rem;

      img {
        @extend %img-full-cover;
      }
    }

    @media only screen and (max-width: 400px) {
      .gnome-card-img-container {
        flex: 0 0 48px;
        height: 48px;
      }
    }

    .gnome-card-content {
      color: $white;
      flex-grow: 1;

      .gnome-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h4 {
          margin: 0;
          margin-right: 0.5rem;
        }

        small {
          color: $grey;
        }

        .follow-button {
          @extend %button;
        }
      }

      .gnome-card-description {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
      }
    }
  }
}

.profession-badge {
  color: $white;
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: rgba($accent-color, 0.5);
  padding: 2px 5px;
  margin: 2px;
}

.load-more-button-container {
  display: flex;
  justify-content: center;

  .load-more-button {
    @extend %button-text;
  }
}
